beautifulsoup4==4.12.3
Django==5.0.7
django_background_tasks==1.2.8
django_cors_headers==4.4.0
google_api_python_client==2.137.0
google_auth_oauthlib==1.2.1
protobuf==5.28.2
PyJWT==2.9.0
python-dotenv==1.0.1
python_dateutil==2.9.0.post0
PyYAML==6.0.2
Requests==2.32.3
